<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>





        <template>
          <v-toolbar class="light-blue darken-4 white--text">
            <v-toolbar-title>Proxy Mocker</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
            <v-toolbar-items class="hidden-sm-and-down white--text">

            </v-toolbar-items>
          </v-toolbar>
        </template>





        <div style="margin: 30px;"></div>
        <div style="padding: 50px;">

          <template>
            <v-btn v-show="!recording"  @click.native="dialogNewRecording = true" flat style="color:#3700ff">
              <v-icon style="font-size:35px; color:#3700ff">videocam</v-icon>
              <span style="text-transform: capitalize; font-size: 10px;">Record Requests</span>
            </v-btn>

            <v-btn v-show="recording" @click="stopRecording" flat style="color:#2e2e2e">
              <v-icon style="font-size:35px; color:#2e2e2e">videocam_off</v-icon>
              <span style="text-transform: capitalize; font-size: 10px;">Recording</span>
            </v-btn>
            <div>
              <v-progress-linear v-show="recording" v-bind:indeterminate="true" color="success"></v-progress-linear>
            </div>
          </template>

          <template>
            <v-expansion-panel expand>
              <v-expansion-panel-content class="light-blue darken-2 white--text">


                <div slot="header">Proxy Configuration</div>

                <v-card style="padding:10px; ">

                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-card>

                        <v-card-text>
                          <v-btn flat icon color="green" @click.native="dialogAddProxy = true">
                            <v-icon style="font-size:35px;">add_circle_outline </v-icon>
                          </v-btn> Add new
                        </v-card-text>
                      </v-card>
                    </v-flex>

                    <v-dialog v-model="dialogAddProxy" max-width="290">
                      <v-card>
                        <v-card-title class="headline">New Proxy</v-card-title>
                        <v-card-text>
                          <v-flex xs12>
                            <v-text-field label="Host" type="text" v-model="newProxy.host" required></v-text-field>
                            <v-text-field label="Port" type="text" v-model="newProxy.port" required></v-text-field>

                          </v-flex>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="green darken-1" flat="flat" @click.native="dialogAddProxy = false">Cancel</v-btn>
                          <v-btn color="green darken-1" flat="flat" @click="saveProxy" @click.native="dialogAddProxy = false">Save</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-layout>
                  <v-card>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-card>
                          <v-alert outline color="warning" icon="warning" :value="true">
                            If no proxy is active the traffic will be redirected to the internet
                          </v-alert>
                        </v-card>
                      </v-flex>
                    </v-layout>

                    <v-data-table v-bind:headers="proxyHeaders" :items="proxys" hide-actions class="elevation-1">
                      <template slot="items" slot-scope="prope">
                        <td>{{ prope.item.host }}</td>

                        <td>{{ prope.item.port }}</td>
                        <td color="secondary">
                          <v-switch v-model="prope.item.useMe" @click="toggleProxy(prope.item)" color="primary"></v-switch>
                        </td>
                        <td>
                          <span>
                            <v-icon>delete</v-icon>
                          </span>
                        </td>
                      </template>
                    </v-data-table>
                    <v-flex xs3 style="margin-top: 20px;">
                      <v-switch v-model="onlyOnSavedHost" color="primary" label="Use proxy only on stored hosts">
                    </v-flex>

                  </v-card>

              </v-expansion-panel-content>
      

              <v-expansion-panel-content class="light-blue darken-4 white--text">
                <div slot="header">DNS or ips to Mock</div>
                <v-card style="padding:10px; ">
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-card>
                        <v-card-text>
                          <v-btn flat icon color="green" @click.native="dialogAddHost = true">
                            <v-icon style="font-size:35px;">add_circle_outline</v-icon>
                          </v-btn> Add new
                        </v-card-text>
                      </v-card>

                      <v-dialog v-model="dialogAddHost" max-width="290">
                        <v-card>
                          <v-card-title class="headline">New host to mock</v-card-title>
                          <v-card-text>
                            <v-flex xs12>
                              <v-text-field label="New host" type="text" v-model="newHost" required></v-text-field>
                            </v-flex>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click.native="dialogAddHost = false">Cancel</v-btn>
                            <v-btn color="green darken-1" flat="flat" @click="saveHost" @click.native="dialogAddHost = false">Save</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-flex>
                  </v-layout>


                  <v-data-table v-bind:headers="filtHostHeaders" :items="filteredHosts" hide-actions class="elevation-1">
                    <template slot="items" slot-scope="prope">
                      <td>{{ prope.item.host }}</td>
                      <td color="secondary">
                        <v-switch v-model="prope.item.active" @change="toggleHostToMock(prope.item)" color="primary"></v-switch>
                      </td>
                      <td>
                        <span>
                          <v-icon>toc</v-icon>
                          <v-icon>delete</v-icon>
                        </span>
                      </td>
                    </template>
                  </v-data-table>
                </v-card>
              </v-expansion-panel-content>

              <v-expansion-panel-content class="light-blue darken-2 white--text">
                <div slot="header">Ngrok</div>
                <v-card>
                  <v-card-text class="white black--text" ligth>
                    <v-container grid-list-md text-xs-center>
                      <v-container grid-list-md text-xs-center>
                        <v-layout row wrap>
                          <v-flex xs1>
                            <v-card>
                              <v-card-text class="px-0">
                                <v-switch v-model="ngrok" @change="toggleNgrok()" color="primary" label="Start Ngrok">
                              </v-card-text>
                            </v-card>
                          </v-flex>
                          <v-flex xs6 dark>
                            <v-card>
                              <v-card-text class="px-0">{{ngrokUrl}}</v-card-text>
                            </v-card>
                          </v-flex>
                        </v-layout>
                      </v-container>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content class="light-blue darken-4 white--text">
                <div slot="header">ProxyMocker Configuration</div>
                <v-card>
                  <v-card-text class="white black--text">Configuracion del proxy</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </template>


        </div>
      </v-content>
      <v-dialog v-model="dialogNewRecording" max-width="290">
          <v-card>
            <v-card-title class="headline">Name</v-card-title>
            <v-card-text>
              <v-flex xs12>
                <v-text-field label="Recording Name" type="text" v-model="newHost" required></v-text-field>
              </v-flex>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click.native="dialogNewRecording = false">Cancel</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="startRecording" @click.native="dialogNewRecording = false">Start</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="http://localhost:8765/public/js/app.js"></script>
</body>

</html>